# ignore everything
*

# Allow those files & directories
!/app
!/env
!/edge
!/scripts
!/.npmrc
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/.gitignore
!/tsconfig.base.json
!/rollup.config.mjs
!/nginx.conf

# Ignore from allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/.next/*
**/.turbo/*
**/node_modules/*
**/Dockerfile*
**/.vscode/*
