body {
  font-size: clamp(1rem, 0.96rem + 0.18vw, 1.125rem) !important;
  line-height: 1.7;
}

h1 {
  font-size: clamp(1.75rem, 1.39rem + 1.79vw, 3rem) !important;
}

h2 {
  font-size: clamp(1.5rem, 1.29rem + 1.07vw, 2.25rem) !important;
}

h3 {
  font-size: clamp(1.25rem, 1.11rem + 0.71vw, 1.75rem) !important;
}

h4,
h5,
h6 {
  font-size: clamp(1.125rem, 1.09rem + 0.18vw, 1.25rem) !important;
}

p,
li {
  max-width: 70ch;
}

h1,
h2,
h3 {
  max-width: 30ch;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*::selection {
  background: rgba(35, 131, 226, 0.28);
}

@font-face {
  font-family: "JetbrainsMonoNL";
  src: local("JetBrainsMono"), local("JetBrainsMono-Regular"),
    url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: "regular";
  font-display: swap;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Light"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf)
      format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semilight"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf)
      format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf)
      format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semibold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf)
      format("truetype");
  font-weight: 700;
  font-display: swap;
}
